*{
    border-style: none;
}


*:focus{
    outline: none;
}


body{
    
}


p{
    display: none;
}



.bodyFake{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(2160p\ Window\ 10\ Wallpaper\ 4k.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}


.middleSection{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 3px;
    padding-left: 20px;
    width: 100%;
    height: 30px;
    background-color: aliceblue;

}


.windowsStart{
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(windowsapplication_windows_3778.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}


.blueScreen{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 100%;
}


.loading{
    display: flex;
    width: 200px;
    height: 200px;
}


.nonebarcode{
    width: 100%;
    height: 100%;
    border: 15px solid white;
    border-bottom: 15px blue solid;
    border-radius: 100%;

    animation: infinite linear anim 1s;
}


@keyframes anim {
    to{
        transform: rotate(360deg);
    }
}


.barcode{
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(QR\ Code.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


@media screen and (max-width: 900px){
    .bodyFake{
        display: none;
    }
}


@media screen and (max-height: 700px){
    .bodyFake{
        display: none;
    }
}